@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'http://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300';
html {
    width: 100%;
    height: 100%;
    padding: 30px;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../pattern-bg.jpg");
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #999;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
    text-transform: none;
    color: rgba(254, 82, 76, 1);
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

a:link,
a:active,
a:visited {
    color: rgba(255, 255, 255, 1);
}

a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.logo{
        margin-left: 11px;
}

.texto {
    margin: 30px auto 0;
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/*
.texto:hover {
    -webkit-transform: scale(1.02) rotate(2deg) translateY(12px);
    -moz-transform: scale(1.02) rotate(2deg) translateY(12px);
    -o-transform: scale(1.02) rotate(2deg) translateY(12px);
    -ms-transform: scale(1.02) rotate(2deg) translateY(12px);
    transform: scale(1.02) rotate(2deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
*/
